<!DOCTYPE html>
<html>
  <head>
    <title>Meal Plan Gen API</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Meal Plan Gen API</h1>
    <p>Recipes</p>
  </body>
</html>
